# Ansible-Initialize

Use Ansible to quickly setup an operator environment in a quick and repeatable way.

Tested on

- Ubuntu 24.04 LTS
- Kali 2025.1

## Install

Run `setup.sh` to install `pipx` and `ansible`

## Usage

Install all the tools with

`ansible-playbook install.yaml`

Update the README with tool list

`ansible-playbook update_readme.yaml`

## Tools List

### [Apt](vars/apt.yaml)

{% for item in apt_packages | sort() %}
- [{{ item }}](vars/apt.yaml)
{% endfor %}

### Git

{% for item in (git_packages | combine(git_releases)) | sort() %}
- {{ item }}
{% endfor %}

### GoLang

{% for item in golang_packages | sort() %}
- {{ item }}
{% endfor %}

### Python/Pipx

{% for item in pipx_packages | sort() %}
- {{ item }}
{% endfor %}

### Cargo/Rust

{% for item in cargo_packages | sort() %}
- {{ item }}
{% endfor %}
